.footer__container {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;

    text-align: center;
}

.footer__copyright {
    display: block;
    font-family: 'Quicksand' , sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.footer__social-media-icon {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__social-media-container {
    margin-top: 20px;
    display: block;
}