<div class="footer__container">

  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex='auto' style="text-align: center">
      <h2>Bibelgemeinde</h2>
      <p>
        Maria Theresia Straße 2 <br>
        89312 Günzburg<br>
      </p>
      <p>
        info@bibel-leben.de
      </p>
    </div>


    <div fxFlex='auto' style="text-align: center">
      <h2>Links</h2>
      <p><a routerLink="/legal">Datenschutz und Impressum</a></p>
    </div>
  </div>


  <mat-toolbar class="bl-fixed" color="primary">
    <mat-toolbar-row class="footer__social-media-container">
      <a href="https://www.youtube.com/channel/UCvVertDVWILhmVsIdDKa9tA">
        <img src="../../../../assets/icons/youtube_social_icon_red.png" alt="youtube" class="footer__social-media-icon">
      </a>
      <a href="https://bibel-leben.church.tools/">
        <img src="../../../../assets/icons/churchtools-lobo.svg" alt="churchtools" class="footer__social-media-icon">
      </a>
      <a href="https://bibel-leben.bibelkunde.online/">
        <img src="../../../../assets/icons/bko-logo-white.svg" alt="Gemeindebibelschule" class="footer__social-media-icon">
      </a>
      <a href="https://open.spotify.com/show/1WIxjZBFJXM2hvx5PaGqmu">
        <img src="../../../../assets/icons/icons8-spotify.svg" alt="Gemeindebibelschule" class="footer__social-media-icon">
      </a>
      <a
        href="https://podcasts.google.com/?feed=aHR0cHM6Ly9ldXJvcGUtd2VzdDMtYmliZWwtbGViZW4tZGV2LmNsb3VkZnVuY3Rpb25zLm5ldC9yc3NHb29nbGU&ep=14">
        <img src="../../../../assets/icons/icons8-google-podcasts.svg" alt="Gemeindebibelschule"
          class="footer__social-media-icon">
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="footer__copyright">
      <p class="">© 2020 Copyright | Bibel-Leben</p>
    </mat-toolbar-row>

  </mat-toolbar>
</div>