.mail-register__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mail-register__card-footer {
    margin-bottom: 20px;
    margin-top: 50px;
}

mat-card-content {
    margin-top: 30px;
}

mat-form-field {
    width: 80%;
    margin-bottom: 5px;
}

.mail-register__firstname {
    max-width: 38%;
    margin-right: 4%;
}

.mail-register__lastname {
    max-width: 38%;
}

.input__errors {
    color: red;
}

.mail-register__button {
    position: absolute;
    left: 12%;
}

.mail-register__data-protection {
    position: absolute;
    left: 12%;
}

.mail-register__card-actions {
    margin-top: 30px;
}
