// bl19_theme.scss
@import '~@angular/material/theming';



// light theme
$bl-theme-primary: mat-palette($mat-grey);
$bl-theme-accent : mat-palette($mat-orange);
$bl-theme-warn   : mat-palette($mat-red);

$bl-light-theme: mat-light-theme(
    $bl-theme-primary,
    $bl-theme-accent,
    $bl-theme-warn
);



// dark theme
$bl-dark-theme-primary: mat-palette($mat-grey);
$bl-dark-theme-accent : mat-palette($mat-teal);
$bl-dark-theme-warn   : mat-palette($mat-red);

$bl-dark-theme: mat-dark-theme(
    $bl-dark-theme-primary,
    $bl-dark-theme-accent,
    $bl-dark-theme-warn
);



$bl-typography: mat-typography-config(
  $font-family: 'Quicksand, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);