.mail-login__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mail-login__card-footer {
    margin-bottom: 20px;
    margin-top: 50px;
}

mat-card-content {
    margin-top: 30px;
}

mat-form-field {
    width: 80%;
}

.input__errors {
    color: red;
}

.mail-login__button {
    position: absolute;
    left: 12%;
}

